@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Luckiest+Guy&family=Pacifico&display=swap');


.main-parent {
    overflow: hidden;
    padding: 2rem;
    background: #100E15;
}

.main-parent .project-card:hover {
    scale: 1.2;
    transition: 0.4s ease-in-out;
    filter: blur(2px);
}

.header-project {
    font-size: 3.5rem;
    padding-bottom: 2rem;
    font-weight: bold;
    opacity: 0.8;
    display: block;
    width: 280px;
    border-bottom: 2px solid #D90A2C;
    padding: 0.4rem 1.5rem 0.6rem 1.5rem;
    margin: 2rem auto;
    font-family: 'Luckiest Guy', cursive;
    color: #ffffff;
}

/* // css for animation  */
.slash {
    font-weight: 800;
    font-size: 1.8rem !important;
    padding-right: 6px;
}

.parent-social-icons {
    width: 17%;
    display: flex;
    justify-content: space-between
}

.parent-social {
    border: 1px dotted white;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.parent-social:hover {
    color: #D90A2C;
    transform: translateY(-5px);
    transition: all ease-in-out 0.3s;
}

.parent-one-social {
    display: block;
    width: 250px;
    margin: 0px auto;
}

.parent-social-icons-mobile {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between
}


/* //!motion csss here */

.parent-card-motion {
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-image: linear-gradient(120deg, #3e3e3e, rgb(10, 15, 55), rgb(85, 85, 85)); */
}

.motion-card {
    padding: 1.5rem 1.5rem;
    max-width: 300px;
    border-radius: 8px;
    background-color: #fff;
}

.motion-header {
    font-size: 1.3rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 20px;
}

.motion-description {
    font-size: 14px;
    padding-top: 12px;
    letter-spacing: 1.5px;
}

.motion-image {
    height: 180px;
    width: 100%;
    border-radius: 20px;
    padding-bottom: 12px;
}