body {
    overflow-x: hidden;
}

.container {
    z-index: 1;
    position: relative;
    min-height: 35rem;
    background-color: black;
}

.bird {
    background-image: url('./assets/images/bird.svg');
    background-size: auto 100%;
    width: 350px;
    height: 125px;
    will-change: background-position;

    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;

    &--one {
        animation-duration: 1s;
        animation-delay: -0.5s;
    }

    &--two {
        animation-duration: 0.9s;
        animation-delay: -0.75s;
    }

    &--three {
        animation-duration: 1.25s;
        animation-delay: -0.25s;
    }

    &--four {
        animation-duration: 1.1s;
        animation-delay: -0.5s;
    }

}

.bird-container {
    position: absolute;
    top: 12%;
    // left: -10%;
    left: -20%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;

    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &--one {
        animation-duration: 15s;
        animation-delay: 0;
    }

    &--two {
        animation-duration: 16s;
        animation-delay: 1s;
    }

    &--three {
        animation-duration: 14.6s;
        animation-delay: 9.5s;
    }

    &--four {
        animation-duration: 16s;
        animation-delay: 10.25s;
    }

}

@keyframes fly-cycle {

    100% {
        background-position: -900px 0;
    }

}

@keyframes fly-right-one {

    0% {
        transform: scale(0.3) translateX(-10vw);
        rotate: 45deg;
    }

    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }

    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.7);
    }

    40% {
        transform: translateY(18vh) translateX(70vw) scale(0.6);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
    }

    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(1.6);
        rotate: -80deg;
    }

}

@keyframes fly-right-two {

    0% {
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }

    10% {
        transform: translateY(0vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }

    30% {
        transform: translateY(1vh) translateX(50vw) scale(0.45);
    }

    40% {
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.45);
    }

    51% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
        rotate: 45deg;
    }

}


// ! media- query for all screen queries


@media (min-width: 1024px) and (max-width: 1439px) {
    @keyframes fly-right-one {

        0% {
            transform: scale(0.3) translateX(-10vw);
            rotate: 45deg;
        }

        100% {
            transform: translateY(0vh) translateX(110vw) scale(1.6);
            rotate: -55deg;
        }
    }

    .content {
        left: 15%;
    }

    .parent-contact {
        left: 38%;
    }

    .content1 h2 {
        left: 32%;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {

    @keyframes fly-right-one {

        0% {
            transform: scale(0.3) translateX(-10vw);
            rotate: 20deg;
        }

        100% {
            transform: translateY(0vh) translateX(110vw) scale(1.6);
            rotate: -56deg;
        }
    }

    .content {
        left: 10%;
        top: 48%;
    }

    .main-header {
        font-size: 2.8rem;
    }

    .parent-contact {
        left: 32%;
    }

    .content1 h2 {
        left: 32%;
        top: 56%;
        font-size: 2.2rem;
    }

    .word {
        font-size: 4rem !important;
    }

}

// small screen

@media (min-width: 425px) and (max-width: 767px) {
    @keyframes fly-right-one {

        0% {
            transform: scale(0.3) translateX(-10vw);
            rotate: 10deg;
        }

        100% {
            transform: translateY(0vh) translateX(110vw) scale(1.6);
            rotate: -62deg;
        }
    }

    .bird {
        width: 200px;
    }

    .word {
        font-size: 3rem !important;
    }

    .profile {
        width: 120px;
        height: 120px;
    }

    .profile-parent {
        top: 26%;
        left: 37%;
    }

    .content {
        left: 6%;
        top: 48%;
    }

    .main-header {
        font-size: 1.8rem;
    }

    .parent-contact {
        left: 19%;
        bottom: 23%;
    }

    .content1 h2 {
        left: 16%;
        top: 54%;
        font-size: 2rem;
    }

    .code {
        font-size: 1rem;
    }

    .contact-btn {
        font-size: 1rem;
    }

    .download-btn {
        font-size: 1rem;
    }

    .header-project {
        font-size: 2.5rem;
        padding-bottom: 1rem;
        width: 200px;
    }

}

@media (min-width: 375px) and (max-width: 424px) {
    @keyframes fly-right-one {

        0% {
            transform: scale(0.3) translateX(-10vw);
            rotate: 5deg;
        }

        100% {
            transform: translateY(0vh) translateX(110vw) scale(1.6);
            rotate: -66deg;
        }
    }

    .bird {
        width: 180px;
    }

    .profile {
        width: 135px;
        height: 135px;
    }

    .profile-parent {
        top: 26%;
        left: 35%;
    }

    .content {
        left: 8%;
        top: 48%;
    }

    .main-header {
        font-size: 1.5rem;
    }

    .parent-contact {
        left: 18%;
        bottom: 23%;
    }

    .content1 h2 {
        left: 13%;
        top: 54%;
        font-size: 2rem;
    }

    .code {
        font-size: 1rem;
    }

    .contact-btn {
        font-size: 0.9rem;
    }

    .download-btn {
        font-size: 0.8rem;
    }

    .word {
        font-size: 3rem !important;
    }

    .header-project {
        font-size: 2.5rem;
        padding-bottom: 1rem;
        width: 200px;
    }
}

// ! css new for animation

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Luckiest+Guy&family=Pacifico&display=swap');
$speed: 8s;
$wordCount: 6;


.morphing {
    position: relative;
    // background-color: #000;
    // color: #fff;
    min-height: 30vh;
    filter: contrast(1) blur(1px);
}

.word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    font-family: 'Luckiest Guy', cursive;
    background-image: url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;
    animation: word $speed infinite ease-in-out;

    @for $i from 0 to $wordCount {
        &:nth-child(#{$i + 1}) {
            animation-delay: ($speed / ($wordCount + 1) * $i) - $speed;
        }
    }

    @keyframes word {

        0%,
        5%,
        100% {
            filter: blur(0px);
            opacity: 1;
        }

        20%,
        80% {
            filter: blur(1.2em);
            opacity: 0;
        }
    }
}