body {
    overflow-x: hidden;
}

.container {
    z-index: 1;
    position: relative;
    min-height: 35rem;
    background-color: black;
}

.bird {
    background-image: url('./assets/images/bird.svg');
    background-size: auto 100%;
    width: 350px;
    height: 125px;
    will-change: background-position;

    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;

    &--one {
        animation-duration: 1s;
        animation-delay: -0.5s;
    }

    &--two {
        animation-duration: 0.9s;
        animation-delay: -0.75s;
    }

    &--three {
        animation-duration: 1.25s;
        animation-delay: -0.25s;
    }

    &--four {
        animation-duration: 1.1s;
        animation-delay: -0.5s;
    }

}

.bird-container {
    position: absolute;
    top: 12%;
    // left: -10%;
    left: -20%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;

    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &--one {
        animation-duration: 15s;
        animation-delay: 0;
    }

    &--two {
        animation-duration: 16s;
        animation-delay: 1s;
    }

    &--three {
        animation-duration: 14.6s;
        animation-delay: 9.5s;
    }

    &--four {
        animation-duration: 16s;
        animation-delay: 10.25s;
    }

}

@keyframes fly-cycle {

    100% {
        background-position: -900px 0;
    }

}

@keyframes fly-right-one {

    0% {
        transform: scale(0.3) translateX(-10vw);
        rotate: 45deg;
    }

    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }

    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.7);
    }

    40% {
        transform: translateY(18vh) translateX(70vw) scale(0.6);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
    }

    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(1.6);
        rotate: -80deg;
    }

}

@keyframes fly-right-two {

    0% {
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }

    10% {
        transform: translateY(0vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }

    30% {
        transform: translateY(1vh) translateX(50vw) scale(0.45);
    }

    40% {
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.45);
    }

    51% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
        rotate: 45deg;
    }

}


// ! media- query for all screen queries


@media (min-width: 1024px) and (max-width: 1439px) {
    @keyframes fly-right-one {

        0% {
            transform: scale(0.3) translateX(-10vw);
            rotate: 45deg;
        }

        100% {
            transform: translateY(0vh) translateX(110vw) scale(1.6);
            rotate: -55deg;
        }
    }

    .content {
        left: 15%;
    }

    .parent-contact {
        left: 38%;
    }

    .content1 h2 {
        left: 32%;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    @keyframes fly-right-one {

        0% {
            transform: scale(0.3) translateX(-10vw);
            rotate: 20deg;
        }

        100% {
            transform: translateY(0vh) translateX(110vw) scale(1.6);
            rotate: -56deg;
        }
    }

    .content {
        left: 10%;
        top: 48%;
    }

    .main-header {
        font-size: 2.8rem;
    }

    .parent-contact {
        left: 32%;
    }

    .content1 h2 {
        left: 32%;
        top: 56%;
        font-size: 2.2rem;
    }

}

// small screen

@media (min-width: 425px) and (max-width: 767px) {
    @keyframes fly-right-one {

        0% {
            transform: scale(0.3) translateX(-10vw);
            rotate: 10deg;
        }

        100% {
            transform: translateY(0vh) translateX(110vw) scale(1.6);
            rotate: -62deg;
        }
    }

    .bird {
        width: 200px;
    }

    .profile {
        width: 120px;
        height: 120px;
    }

    .profile-parent {
        top: 26%;
        left: 37%;
    }

    .content {
        left: 6%;
        top: 48%;
    }

    .main-header {
        font-size: 1.8rem;
    }

    .parent-contact {
        left: 19%;
        bottom: 23%;
    }

    .content1 h2 {
        left: 16%;
        top: 54%;
        font-size: 2rem;
    }

    .code {
        font-size: 1rem;
    }

    .contact-btn {
        font-size: 1rem;
    }

    .download-btn {
        font-size: 1rem;
    }

}